/NeuroML2/network/*.mod
/NeuroML2/network/*_nrn.py
/NeuroML2/network/*.dat
/NeuroML2/network/*.hoc
/NeuroML2/network/x86_64/
/NeuroML2/network/*.png
/NeuroML2/network/*.pov
/NeuroML2/network/*.spikes
x86_64
*~
NeuroML2/*.dat
NeuroML2/*.svg
NeuroML2/*.mod
/NeuroML2/cells/*.mod
/NeuroML2/cells/*.hoc
/NeuroML2/cells/*.svg
/NeuroML2/cells/*nrn.py
/NeuroML2/channels/LEMS_Test_*.xml
NeuroML2/channels/test_Cadynamics/NeuroML2/*.mod
NeuroML2/channels/test_Cadynamics/NeuroML2/*.hoc
NeuroML2/channels/test_Cadynamics/NeuroML2/*nrn.py
NeuroML2/channels/*.dat
NeuroML2/channels/old

results/*
/*.dat
/NeuroML2/channels/test_Cadynamics/NEURON/*.dat
/NeuroML2/channels/test_Cadynamics/NeuroML2/*.dat
/NeuroML2/cells/*.dat
/NeuroML2/notebooks/.ipynb_checkpoints
/NeuroML2/notebooks/*.mod
/NeuroML2/notebooks/LEMS_*.xml
/NeuroML2/notebooks/*.hoc
/NeuroML2/notebooks/*.dat
/NeuroML2/notebooks/*_nrn.py
/NeuroML2/notebooks/*.net.nml
/NeuroML2/cells/*.cell.png
/NeuroML2/synapses/*.mod
/NeuroML2/synapses/*.dat
/NeuroML2/cells/*_netpyne.py
/NeuroML2/cells/*_netpyne.py_main.json
/NeuroML2/synapses/LEMS_test_nrn.py
/NeuroML2/synapses/ngfcell.hoc
/NeuroML2/network/morphology_helper.pyc
/NeuroML2/cells/tests
